export UNIFI_API="https://terrifi-unifi-os-server.tailc43d0.ts.net:8443"
export UNIFI_INSECURE=true
export UNIFI_SITE=default
# export UNIFI_API_KEY="_U2Rz1fkLyRzRhOqAdz2By9_EawdQY5S"
export UNIFI_USERNAME=admin
export UNIFI_PASSWORD="AdminHILTesting!"
