name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    name: Basic CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Install Taskfile
        uses: arduino/setup-task@v2
        with:
          version: 3.x
      - name: Download dependencies
        run: task deps
      - name: Lint
        run: task lint
      - name: Unit tests
        run: task test:unit
      - name: Acceptance tests (Docker)
        run: task test:acc
